g a {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
    color: black;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
}

.arrowhead {
    stroke: blue;
    fill: blue;
    stroke-width: 1.5px;
}

#content-container {
    min-width: 300px;
    min-height: 300px;
    border: 1px solid;
    float: left;
}
#content {
    position: relative;
    height: 100%;
    overflow: auto;
    white-space: pre-wrap;
}

#content SPAN {
    display: inline;
}
#content SPAN.both {
    color: black;
}
#content SPAN.left {
    color: green;
}
#content SPAN.right {
    color: red;
}
#content SPAN.name {
    color: purple;
}
#content SPAN.uri {
    color: brown;
}